name: OWASP Dependency Check

on: [push]

jobs:
  depchecktest:
    runs-on: ubuntu-latest
    name: depecheck_test
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Update Dependencies
        run: npm install

      - name: OWASP Dependency Check
        uses: dependency-check/Dependency-Check_Action@main
        with:
          project: 'DevSecOps P3'
          path: '.'
          format: 'HTML'
          
          args: >
            --failOnCVSS 11
            --enableRetired
      - name: Upload Test results
        uses: actions/upload-artifact@master
        with:
           name: Depcheck report
           path: ${{github.workspace}}/reports
